*{
  margin:0;
  padding:0;
}
body{
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.menubar{
  background: #a1813f;
  color: white;
  padding: 10px;
}
.menu-options ul li a{
  text-decoration: none;
  color: white;
  font-family: "Smooch Sans", sans-serif;
  font-size: 30px;
  padding: 0px 8px;
  cursor: pointer;
  transition: color 0.3s ease;

}
.menu-options ul li a:hover{
  color: #45360e;
  border-bottom: 1px solid #ffffff;

}

/*temporary*/
.logo a{
  text-decoration: none;
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
}
.menu-options ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.menubar{
  display:flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 10px 20px;
}

@media (max-width: 430px){
  .menubar{
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .menu-options ul{
    flex-direction: column;
    align-items: center;
  }

  .menu-options ul li a{
    font-size: 24px;
    padding: 5px 0;
  }
  .logo a{
    font-size: 30px;
  }
}